



<div class="mx-auto" style="width: 200px;">
 
<% if user_signed_in? %>
<div class="alert alert-success" role="alert">
     Привет, <%= current_user.username %>!
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %><br/><br/>
    <%= link_to 'Открыть', posts_path %>
</div>



<% else %>

<div class="alert alert-primary" role="alert">
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
</div>    
<% end %>