

<% if user_signed_in? %>
<div class="mx-auto" style="width: 800px;">
<div id="welcome">
        <t2><%=current_user.username%></t2>
        
        <a href = <%=%>><t2>Мои игры</t2></a>
        <a href = <%=%>><t2>Профиль</t2></a>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></p2><hr/><br/>
</div>
</div>
<!--<p2> Привет, <%= current_user.username %>!<br/>
 <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></p2><br/><br/>-->


<games>    
<div class="container">
  
  <div class="row">
      <% @posts.reverse_each do |post| %>

                <div style="left: 100px" class="col-md-3 col-sm-4 col-xs-10">
                 
                  <imga class="img-responsive">
                     
                    
                        <h1 class="title">
                          <tw><%=post.title.capitalize%></tw>
                          
                        </h1>
                       
                          <a href=<%=post_url(post)%>><img class="img-responsive" src=<%=post.image%> >
                          </a>
                          <div  class="alert alert-secondary" role="alert">


                          <p2><%=post.content%></p2>
                       

                        <div class="info">
                        
                          
                          <a >Персонажей в игре: <%=post.chars.size-1%> </a><br/>
                          <a >ДМ: <%=post.author%> </a><br/>
                          <a ><%=post.created_at%> </a>
                          <div class="clearfix"></div>
                            <small> <span class="glyphicon glyphicon-comment"></span> <%= link_to "В игру", post_url(post)%></small>
                            <%if current_user.username == post.author %>
                          <small><%= link_to "Удалить", post_path(post.id), method: :delete, data: {confirm: "Точно удалить?"} %>  <br/></small>
                          <%end%>
                        </div>
                        </div>
                          
                        
                  </imga>

              </div>
      <%end%>

  
  <div class="row">
     

                <div style="left: 120px"  class="col-md-5 col-sm-4 col-xs-10">
                 
                  <imga class="img-responsive">
                     
                    
                        <h1 class="title">
                          <a href=<%=new_post_url%>><tw> Новая игра</tw>
                          
                        </h1>
                       
                          <a href=<%=new_post_url%>><img class="img-responsive" src="/img/DND.jpg"  >
                          </a>
                          <div  class="alert alert-secondary" role="alert">


                          <p2>Создайте новый мир и пригласите в него игроков</p2>
                       

                          <div class="info">
                            <a> <span class="glyphicon glyphicon-comment"></span> 
                        
                        
                            <div class="clearfix"></div>
                          </div>
                        
                          
                        
                  </imga>

              
      
        

 
</div>



</games>
  <% else %>

<div class="alert alert-primary" role="alert">
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
</div>    
<% end %>                  
                      


                    
           
       






