

<% if user_signed_in? %>
<div id="welcome">
<tan><%=current_user.username%></tan><br/>
<a href = "posts/new"><h2>Новая игра!<h2></a> 

</div>

<!--<p2> Привет, <%= current_user.username %>!<br/>
 <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></p2><br/><br/>-->


<games>    
<div class="container">
  
  <div class="row">
      <% @posts.reverse_each do |post| %>
                <div class="col-md-3 col-sm-4 col-xs-6"><imga class="img-responsive">
                    
                        <h1 class="title">
                          <tan><%=post.title.capitalize%></tan>
                          
                        </h1>
                       
                          <a href=<%=post_url(post)%>><img class="img-responsive" src=<%=post.image%> >
                          </a>
                          <div  class="alert alert-secondary" role="alert">


                          <p2><%=post.content%></p2>
                       

                        <div class="info">
                          <a> <span class="glyphicon glyphicon-comment"></span> <%= link_to "В игру", post_url(post)%> </a>
                          <a ><%=post.created_at%> </a>
                          <div class="clearfix"></div>
                        </div>
                        </div>
                          
                          

              </div>
      <%end%>
  </div>
</div>

</games>

  <% else %>

<div class="alert alert-primary" role="alert">
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
</div>    
<% end %>                  
                      


                    
           
       






