
<div id="welcome">
<tan><%=current_user.username%></tan><br/>
</div>

<!--<p2> Привет, <%= current_user.username %>!<br/>
 <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></p2><br/><br/>-->


<games>    
<div class="container">
  
  <div class="row">
      <% @posts.reverse_each do |post| %>
                <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive">
                    
                        <h1 class="title">
                          <tan><%=post.title.capitalize%></tan>
                          
                        </h1>
                       
                          <img class="img-responsive" src="http://geekandsundry.com/wp-content/uploads/2016/08/Harmonquest-1.jpg" >
                          <div  class="alert alert-secondary" role="alert">
                         <p>
                            <strong>Winning will make you famous.</strong><br/>
                            <strong>Losing means certain death.</strong>
                          </p>

                          <p2><%=post.content%></p2>
                          <p>When sixteen-year-old Katniss Everdeen steps forward to take her sister's place in the games, she sees it as a death sentence. But Katniss has been close to death before. For her, survival is second nature.</p>

                        <div class="info">
                          <a> <span class="glyphicon glyphicon-comment"></span> <%= link_to "В игру", post_url(post)%> </a>
                          <a ><%=post.created_at%> </a>
                          <div class="clearfix"></div>
                        </div>


                        </div>
                          
                          

              </div>
      <%end%>
  </div>
</div>

</games>

                    
                      


                    
           
       






