

<!--PostText-->
<div class="container">
    <div class="well"> 
        <div class="row">
             <div class="col-md-12">
              <div class="alert alert-secondary" role="alert">
                 <div class="row hidden-md hidden-lg"><h1 class="text-center" ><tanb><%= @post.title %></tanb></h1></div>
                     
                 <div class="pull-left col-md-4 col-xs-12 thumb-contenido"><img class="center-block img-responsive" src=<%=@post.image%> /></div>
                 <div class="">
                     <h1  class="hidden-xs hidden-sm"><tanb><%= @post.title.capitalize %></tanb></h1>
                     <hr>
                     <p class="text-justify"><%= @post.content %></p></div>
                     
                     <hr>
                     <small><%=@post.created_at%></small><br>
                     <small><strong><%= @post.author %></strong></small>
                     <small><strong><%=link_to "На главную", posts_path %></strong></small>

             </div>
            </div> 
        </div>
    </div>
</div>

<div style="padding: 20px 20% 0 20%; background-color: mediumorchid;">
<div class="chat_list">
  <ul class="list-group">
    <li class="list-group-item">
       <p4> <%=current_user.username%> </p4>
            <div class="pull-left hidden-xs">
              
                    <img class="img"  src="https://us.v-cdn.net/5019558/uploads/userpics/753/nZ60314DHZQ4A.jpg"> 
                                  
                
                <div>

                  <%= form_for ([@post, @post.comments.build]) do |f| %> 
                    <br/>
                    <h1> <%= f.hidden_field  :author,  value:  current_user.username %> </h1>
                    <p2> <%= f.text_area :text, size: "80"  %> </p2><br/>
                    <input class="b-comments_reply_block_yarrr" type="image" alt="YARRR!" src="/static/yarrr.gif"  style="width: 100px" >
                  </div>
            </div>
    </li>

</ul>
<%end%>

</div>
</div>





<!--comments-->
<div style="padding: 20px 20% 0 20%; background-color: mediumorchid;">
<div class="chat_list">
  <% @post.comments.reverse_each do |comment| %>
  <%if comment.text !=nil %>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="pull-left hidden-xs">
                <div>
                    <img class="img-circle"  src="https://us.v-cdn.net/5019558/uploads/userpics/753/nZ60314DHZQ4A.jpg">                    
                </div>
            </div>
            <small class="pull-right text-muted"><%= comment.created_at %></small>
            <div>
                <small class="list-group-item-heading text-muted text-primary"><%= comment.author %></small>
                <p class="list-group-item-text">
                    <%= comment.text %>
                </p>
            </div>
        </li>
    </ul>
    <%end%>
    <%end%>

</div>
</div>





<!--
<div class="alert alert-dark" role="alert">

<div class="alert alert-secondary" role="alert">

<p2> Привет, <%= current_user.username %>!<br/>
 <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></p2><br/>
 <%= link_to 'Все посты', posts_path %><br/>
</div>
<div class="mx-auto" style="width: 800px;">

<div class="alert alert-light" role="alert">
<p2> <%= @post.content %></p2>
</div>
<br/>


<%= form_for ([@post, @post.comments.build]) do |f| %> 

	<br/>
	<h1> <%= f.hidden_field  :author,  value:  current_user.username %> </h1>
	<p2> <%= f.text_area :text, size: "60x3"  %> </p2><br/>
	<input class="b-comments_reply_block_yarrr" type="image" alt="YARRR!" src="/static/yarrr.gif"  style="width: 100px" >

<%end%>

</div>






<div class="mx-auto" style="width: 800px;">

<div class="container">
	<% @post.comments.reverse_each do |comment| %>
  <%if comment.text !=nil %>
  <div class="row">
    <div class="col-sm-2">
    	<div class="alert alert-success" role="alert">
      <%= comment.author %>
      	</div>
    </div>
    <div class="col-sm-10">
    	<div class="alert alert-light" role="alert">
      <%= comment.text %>
  </div>
    </div>
    <div class="col-sm">
      
    </div>
  </div>
  <%end%>
  <%end%>
</div>
</div>




</div>
</div>
</div>
</div>
-->



